ws/ConsoleApp1/Connected Services/MojService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:35407/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
  <xs:import schemaLocation="http://localhost:35407/Service1.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="CreateMatrix">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="req" nillable="true" type="q1:CreateMatrixRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMatrixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="CreateMatrixResult" nillable="true" type="q2:CreateMatrixResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadMatrixChunk">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matrixId" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="chunk" nillable="true" type="q3:MatrixChunk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadMatrixChunkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatrix">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matrixId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatrixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetMatrixResult" nillable="true" type="q4:MatrixDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiplyMatrices">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="req" nillable="true" type="q5:MultiplyRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiplyMatricesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="MultiplyMatricesResult" nillable="true" type="q6:MultiplyResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateMandelbrot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="req" nillable="true" type="q7:MandelbrotRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateMandelbrotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GenerateMandelbrotResult" nillable="true" type="q8:MandelbrotResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMandelbrot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imageId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMandelbrotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/Message" name="GetMandelbrotResult" type="q9:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMandelbrotRaw">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imageId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMandelbrotRawResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMandelbrotRawResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>